<h1>Portfolios</h1>
<%= link_to "Create New", new_portfolio_path %>
<%= render @portfolios %>




<!--
  if portfolio.thumb_image
  if !portfolio.thumb_image.nil?
  unless portfolio.thumb_image.nil?
 -->
