<h1>Portfolios</h1>
<%= link_to "Create New", new_portfolio_path if logged_in?(:site_admin) %>
<% cache do %> //to load fast
  <%= render partial: @portfolios, spacer_template: 'portfolio_ruler' %>
<% end %>
<%#= render partial: 'portfolio_item', collection: @portfolio_items %>




<!--
  if portfolio.thumb_image
  if !portfolio.thumb_image.nil?
  unless portfolio.thumb_image.nil?
 -->
