<div class="inner cover">
  <h1 class="cover-heading">Cover your page.</h1>
  <p class="lead">
    <span class="element"></span>
  </p>
  <p class="lead">
    <a href="<%= about_path %>" class="btn btn-lg btn-secondary">About Us</a>
  </p>
</div>

<%#= content_tag :p, class: "my-special" do %>
  <!-- Hi, I'm a special paragraph -->
<%# end %>

<%#= sample_helper %>
